<nav class="navbar navbar-dark navbar-expand-md" id="app-navbar" style="background: var(--bs-gray-dark);">
  <div class="container-fluid"><a class="navbar-brand" href="#"><i class="icon ion-ios-cloud" id="brand-logo"></i></a><a class="navbar-brand" href="../">RENDER WHO</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto ml-auto">
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" href="../" title="Home page">Home</a></li>
              <li class="nav-item"></li>
              <li class="nav-item"></li>
              <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Render Farms</a>
                  <div class="dropdown-menu"><a class="dropdown-item" href="../fox_render">Fox Render Farm</a><a class="dropdown-item" href="../iRender">iRender</a><a class="dropdown-item" href="../Render_Core">Render Core</a></div>
              </li>
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" href="../table" title="Compare renderfarm features">Comparison</a></li>
          </ul>
      </div>
  </div>
</nav>