---
layout: layouts/base.njk
---
    <section style="background: linear-gradient(-22deg, #ff42d7 0%, #f4762d 100%), #f4762d;padding: 28px;">
        <div class="container" style="padding-top: 45px;padding-bottom: 45px;background: linear-gradient(-11deg, #ff42d7, #f4762d), #f4762d;">
            <h1 style="margin-left: 0;margin-top: 0;font-family: Poppins, sans-serif;font-weight: bold;color: var(--bs-light);">iRender</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-top: 46px;padding-bottom: 46px;">
                    <p>iRender is a cloud based rendering service that is based out of Vietnam that focuses on giving the user full control of their projects rendering settings. iRender uses new technology to allow you to remotely connect to a computer and set up your project in that environment. iRender is one of the newest cloud rendering solutions, and it is quickly gaining recognition and popularity. Fox Render Farms green data center runs solely on solar power energy. They are dedicated to keeping their carbon emissions low. iRender uses their own services to render.<br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 style="font-family: Poppins, sans-serif;font-weight: bold;">Engine Support</h2>
                    <ul>
                        <li>Maya</li>
                        <li>3ds Max</li>
                        <li>Blender</li>
                        <li>C4D</li>
                    </ul>
                    <p>A full list of supported engines can be found <a href="table.html">here</a></p>
                </div>
                <div class="col-md-4">
                    <h2 style="font-weight: bold;font-family: Poppins, sans-serif;">Features</h2>
                    <ul>
                        <li>Remote Desktop Rendering</li>
                        <li>Simple to use</li>
                        <li>Fast transfer speeds</li>
                        <li>Volume and educational discounts</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 style="font-family: Poppins, sans-serif;font-weight: bold;">User Review Score</h2>
                    <p>Based on current review scores found on social medias and forums the verdict is that using iRender is a very positive experience.</p>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 46px;">
            <div class="row">
                <div class="col-md-6" style="padding: 19px;background: var(--bs-gray-dark);">
                    <h2 style="font-weight: bold;font-family: Poppins, sans-serif;color: var(--bs-light);">Pros</h2>
                    <ul style="color: var(--bs-light);">
                        <li style="color: var(--bs-light);">Huge software support</li>
                        <li style="color: var(--bs-light);">Huge plug-in support</li>
                        <li style="color: var(--bs-light);">Iaas (Infrastructure as a service) model</li>
                        <li style="color: var(--bs-light);">Very flexible with the user being able to remotely control their desired machine from their own computer.</li>
                        <li style="color: var(--bs-light);">Good documentation</li>
                    </ul>
                </div>
                <div class="col-md-6" style="padding: 19px;border-style: solid;border-left-width: 0px;">
                    <h2 style="font-family: Poppins, sans-serif;font-weight: bold;">Cons</h2>
                    <ul>
                        <li>No cost estimator</li>
                        <li>Newest service of the 3</li>
                        <li>Initial setup is lengthy</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 46px;">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="font-family: Poppins, sans-serif;font-weight: bold;">Render Instructions</h2>
                    <div class="accordion" role="tablist" id="accordion-1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1">Blender</button></h2>
                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Log into iRender</li>
                                        <li>Select your rendering hardware</li>
                                        <li>Boot the remote machine and wait</li>
                                        <li>Connect to the remote machine</li>
                                        <li>Install the desired application</li>
                                        <li>Transfer project files to the remote machine</li>
                                        <li>Set up render settings inside the software</li>
                                        <li>Render</li>
                                        <li>Transfer rendered files to local machine</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">Maya</button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Log into iRender</li>
                                        <li>Select your rendering hardware</li>
                                        <li>Boot the remote machine and wait</li>
                                        <li>Connect to the remote machine</li>
                                        <li>Install the desired application</li>
                                        <li>Transfer project files to the remote machine</li>
                                        <li>Set up render settings inside the software</li>
                                        <li>Render</li>
                                        <li>Transfer rendered files to local machine</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">C4D</button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Log into iRender</li>
                                        <li>Select your rendering hardware</li>
                                        <li>Boot the remote machine and wait</li>
                                        <li>Connect to the remote machine</li>
                                        <li>Install the desired application</li>
                                        <li>Transfer project files to the remote machine</li>
                                        <li>Set up render settings inside the software</li>
                                        <li>Render</li>
                                        <li>Transfer rendered files to local machine</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <section class="highlight-clean">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">Other Options</h2>
                        <p class="text-center">Take a look at the other options that we currently have information on</p>
                    </div>
                    <div class="buttons"><a href="fox_render.html"><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="font-style: normal;border-radius: 20px;background: linear-gradient(82deg, #ff42d7 0%, #f4762d 100%), rgb(13,110,253);color: var(--bs-light);width: 216px;border: 3px none rgba(255,255,255,0.4);border-left-color: var(--bs-red);">Fox render farm</button></a><a href="Render_Core.html"><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="font-style: normal;border-radius: 20px;background: linear-gradient(82deg, #ff42d7 0%, #f4762d 100%), rgb(13,110,253);color: var(--bs-light);width: 165px;border: 3px none rgba(255,255,255,0.4);border-left-color: var(--bs-red);">Render Core</button></a></div>
                </div>
            </section>
        </div>
    </section>