---
layout: layouts/base.njk
---
<section style="background: linear-gradient(-22deg, #ff42d7 0%, #f4762d 100%), #f4762d;padding: 28px;">
        <div class="container" style="padding-top: 45px;padding-bottom: 45px;background: linear-gradient(-11deg, #ff42d7, #f4762d), #f4762d;">
            <h1 style="margin-left: 0;margin-top: 0;font-family: Poppins, sans-serif;font-weight: bold;color: var(--bs-light);">Render Core</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-top: 46px;padding-bottom: 46px;">
                    <p>Render Core is a cloud based rendering service found in Hollywood California, USA. It specializes in rendering projects for animation, architectural, broadcasting, industrial design, marketing, entertainment, and VFX purposes. It is unknown what online servers they use to render.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 style="font-family: Poppins, sans-serif;font-weight: bold;">Engine Support</h2>
                    <ul>
                        <li>Maya</li>
                        <li>3ds Max</li>
                        <li>Blender</li>
                        <li>C4D</li>
                    </ul>
                    <p>A full list of supported engines can be found <a href="table.html">here</a></p>
                </div>
                <div class="col-md-4">
                    <h2 style="font-weight: bold;font-family: Poppins, sans-serif;">Features</h2>
                    <ul>
                        <li>Fully Automated</li>
                        <li>24/7 on demand and reserved rendering</li>
                        <li>Free Trial</li>
                        <li>FTP file transfer for secure uploading</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 style="font-family: Poppins, sans-serif;font-weight: bold;">User Review Score</h2>
                    <p>Render Core does not seem to have a large online presence. Based on the small number of user reviews that were found the verdict seems that using this service is a positive experience.</p>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 46px;">
            <div class="row">
                <div class="col-md-6" style="padding: 19px;background: var(--bs-gray-dark);">
                    <h2 style="font-weight: bold;font-family: Poppins, sans-serif;color: var(--bs-light);">Pros</h2>
                    <ul style="color: var(--bs-light);">
                        <li style="color: var(--bs-light);">Cost estimator</li>
                        <li style="color: var(--bs-light);">24/7 support</li>
                        <li style="color: var(--bs-light);">Flat rate rendering</li>
                        <li style="color: var(--bs-light);">Standard payment options</li>
                    </ul>
                </div>
                <div class="col-md-6" style="padding: 19px;border-style: solid;border-left-width: 0px;">
                    <h2 style="font-family: Poppins, sans-serif;font-weight: bold;">Cons</h2>
                    <ul>
                        <li>Low software support</li>
                        <li>Low plugin support</li>
                        <li>No documentation unless you purchase</li>
                        <li>Small internet presence</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 46px;">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="font-family: Poppins, sans-serif;font-weight: bold;">Render Instructions</h2>
                    <div class="accordion" role="tablist" id="accordion-1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1">Blender</button></h2>
                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">As there is no formal documentation it unknown at this time how to upload a project to Render Core</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">Maya</button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">As there is no formal documentation it unknown at this time how to upload a project to Render Core</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">C4D</button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">As there is no formal documentation it unknown at this time how to upload a project to Render Core</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <section class="highlight-clean">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">Other Options</h2>
                        <p class="text-center">Take a look at the other options that we currently have information on</p>
                    </div>
                    <div class="buttons"><a href="iRender.html"><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="font-style: normal;border-radius: 20px;background: linear-gradient(82deg, #ff42d7 0%, #f4762d 100%), rgb(13,110,253);color: var(--bs-light);width: 120px;border: 3px none rgba(255,255,255,0.4);border-left-color: var(--bs-red);">iRender</button></a><a href="fox_render.html"><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="font-style: normal;border-radius: 20px;background: linear-gradient(82deg, #ff42d7 0%, #f4762d 100%), rgb(13,110,253);color: var(--bs-light);width: 202px;border: 3px none rgba(255,255,255,0.4);border-left-color: var(--bs-red);">Fox Render Farm</button></a></div>
                </div>
            </section>
        </div>
    </section>